[user]
	name = "Javed Khan"
	email = "<tuxcanfly@gmail.com>"
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
	safecrlf = false
    editor = vim
[color]
	ui = auto
[push]
	default = tracking
[alias]
    a = add
    b = branch
    co = checkout
    ci = commit
    ca = commit -am
    cf = commit --amend --no-edit
    d = diff
    dc = diff --cached
    dm = diff --diff-filter=M
    f = stash save
    st = status -sb
    up = pull --no-edit
    s = show
    r = remote
    t = push --set-upstream
    pop = stash pop
    app = stash apply
    cp = ! git log --pretty=format:'%H' -n 1  | xclip -selection clipboard
    up = pull --all --rebase --autostash

[url "git@github.com"]
	insteadOf = gh
[url "git@bitbucket.com:"]
	insteadOf = bb
