*.py[cod]

tags
.tags
.autoenv

*.db
.vagrant
Vagrantfile

*.so
pip-log.txt
.coverage
.tox
nosetests.xml

.netrwhist
.lvimrc

.env

*.db-journal

node_modules
*.egg-info
.noseids
.virtualenv

.init.vim-rplugin~

.fonts/fonts.dir
.envrc
