*.py[cod]

tags
.tags
.autoenv

*.db
.vagrant
Vagrantfile

*.so
pip-log.txt
.coverage
.tox
nosetests.xml

.netrwhist
.lvimrc

circle.py
.env

*.db-journal

node_modules
*.egg-info
.noseids
btcsim
.virtualenv
btcsim-stats.txt
