*.py[cod]

tags
.tags
.autoenv

*.db
.vagrant
Vagrantfile

*.so
pip-log.txt
.coverage
.tox
nosetests.xml

.netrwhist
.lvimrc

circle.py
.env

*.db-journal

node_modules
*.egg-info
.noseids
.virtualenv

*.idea
*.iml

*.cov
dcrwallet

*.deb

fonts.dir
.vscode

.envrc
.nyc_output
.tern-project
/coverage
.irssi/config
